:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h2 {
  font-size: 48px;
}

h1 {
  font-size: 96px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
}

/* Homepage*/
.homepage-banner {
  margin: 100px 50px;
  max-width: 1000px;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  margin: 20px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 20px 15px;
}

.contact-link a {
  color: white;
}

.about-link {
  background-color: white;
  border: 1px solid var(--primary-color);
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
}

.about-link a {
  color: var(--primary-color);
}

.project-description-col {
  padding: 20px 0px;
}

.project-description {
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
}

.project-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 20px 15px;
}

.project-link a {
  text-decoration: none;
  color: white;
}

/* About me page*/
.about-banner {
  margin: 100px 50px;
  max-width: 1000px;
}

.about-banner p {
  margin: 10px 0px;
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
}

.project-imgs {
  margin: 40px 0px;
  box-shadow: var(--box-shadow);
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

@media (max-width: 800px) {
  h1 {
    color: pink;
  }
  .container {
    margin: 10px 30px;
  }
  .project-description,
  .about-banner p {
    font-size: 14px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 16px;
  }

  .contact-link,
  .about-link,
  .project-link {
    padding: 2px 7px;
    margin: 5px;
    font-size: 14px;
  }
}
